* {
  font-family: "Cera Pro", sans-serif;

  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  list-style: none;
  text-decoration: none;

  max-width: 1440px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  background: blue;
  color: white;
}

.header > div {
  display: flex;
  align-items: center;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.navbar-nav {
  display: flex;
  justify-content: space-between;

  gap: 20px;
}

.linha {
  width: 1440px;
  height: 4px;
  margin: 0 auto;

  background: linear-gradient(90deg, #ffce5c 0%, #f1a700 100%);
}

.cover {
  background-image: url("images/background-section-1.svg");
  color: #fff;

  height: 942px;

  display: flex;
  flex-direction: column;

  align-items: center;
  text-align: center;
}

.cover-logoDocZ {
  margin-top: 106px;
  margin-bottom: 30px;
}

.cover-title {
  font-style: normal;
  font-weight: 500;
  font-size: 83.5692px;
  line-height: 116.5%;

  text-align: center;
  margin-bottom: 13px;
}

.cover-text {
  font-style: normal;
  font-weight: normal;
  font-size: 29.2035px;
  line-height: 138%;

  margin-bottom: 52px;

  text-align: center;
}

.cover-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(90deg, #fce16f 0%, #f1a700 100.06%);
  border-radius: 62.9421px;

  width: 288.21px;
  height: 65.15px;

  font-style: normal;
  font-weight: bold;
  font-size: 18.7722px;
  line-height: 24px;
  color: #002040;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.tablet {
  margin: -13rem 0 0;
}

.platform-title {
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 118%;
  letter-spacing: 0.125em;
  color: #2981fe;

  margin-bottom: 15px;
  text-align: center;
}

.platform-text {
  max-width: 1000px;

  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 110%;

  margin-bottom: 94px;
  text-align: center;

  color: #001240;
}

.row {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 0 0 10rem;
}

.row-notebook {
  position: absolute;
  top: 0rem;
  left: -1rem;
  width: 70%;
}

.row-img {
  max-width: 100%;
  height: auto;
}

.row-content {
  position: relative;
  z-index: 2;
  margin-top: 40px;
  margin-left: 800px;
}

.row-decoration {
  display: inline-block;
  width: 54px;
  height: 5px;
  left: 874px;
  top: 1899px;

  margin-bottom: 35px;

  background: linear-gradient(90deg, #f1a700 0%, #fce16f 101.85%);
  border-radius: 59px;
}

.row-text {
  width: 414.7px;
  height: 422.06px;
  left: 874.3px;
  top: 1939px;

  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  line-height: 125%;

  color: #001240;
}

.differentials {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 988px;

  background: url("images/Ondas 1.svg");
}

.differentials > span {
  width: 54px;
  height: 5px;
  align-items: center;
  margin-top: 69px;

  background: linear-gradient(90deg, #f1a700 0%, #fce16f 101.85%);
  border-radius: 59px;
}

.differentials-title {
  margin-top: 28px;
  margin-bottom: 84px;

  font-style: normal;
  font-weight: 500;
  font-size: 49.3673px;
  line-height: 120.5%;

  text-align: center;

  color: #ffffff;
}

#funcionalidades {
  margin: 131px 156px 141px 158px;
}

#funcionalidades > span {
  display: inline-block;
  width: 57px;
  height: 6px;

  background: linear-gradient(90deg, #f1a700 0%, #fce16f 101.85%);
  border-radius: 59px;
}

#funcionalidades > h2 {
  margin-top: 33px;
  margin-bottom: 73px;

  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 110%;

  color: #001240;
}

.functionalities {
  display: flex;
  flex-wrap: wrap;
}

.functionalities-card {
  display: flex;
  flex-direction: column;

  padding: 2rem 3rem;
  text-align: left;
  align-items: flex-start;
  gap: 1rem;

  width: 441px;

  margin-bottom: 54px;

  background: #ffffff;

  box-shadow: 0px 28.5564px 36.7154px -12.2385px #f2f4f5;
  border-radius: 26px;
}

.functionalities-card > h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 120.5%;

  width: 100%;

  /* margin: 58px 105px 12px 57px; */

  color: #001240;
}

.functionalities-card > p {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 141.5%;

  /* margin: 0px 105px 57px 57px; */

  color: #585a87;
}

.contact-sales {
  text-align: center;
}

.contact-sales h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 41.771px;
  line-height: 129%;

  color: #001240;
}

.contact-sales a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 61px 588px 205px 590px;
  background: linear-gradient(90deg, #fce16f 0%, #f1a700 100.06%);
  border-radius: 62.9421px;

  width: 288.21px;
  height: 65.15px;

  font-style: normal;
  font-weight: bold;
  font-size: 18.7722px;
  line-height: 24px;
  color: #002040;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.dataProtection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  max-width: 1200px;
}

.dataProtection-content {
  max-width: 350px;
}

.dataProtection-title {
  width: 500px;
  height: 146.06px;
  margin-bottom: 12px;

  font-style: normal;
  font-weight: 500;
  font-size: 37.0943px;
  line-height: 130.5%;

  color: #001240;
}

.dataProtection-text {
  width: 499px;
  height: 178px;

  font-style: normal;
  font-weight: normal;
  font-size: 19.2px;
  line-height: 158.5%;

  color: #001240;
}

.dataProtection-link {
  width: 167px;
  height: 51.57px;
  left: 781px;
  top: 6027px;
  margin-top: 41px;
  background: #fff;

  border: 2px solid #0069ff;
  box-sizing: border-box;
  border-radius: 46.1327px;

  font-family: Cera Pro;
  font-style: normal;
  font-weight: 500;
  font-size: 16.5916px;
  line-height: 21px;

  color: #0069ff;
}

.dataProtection-link > a {
  font-style: normal;
  font-weight: 500;
  font-size: 16.5916px;
  line-height: 21px;

  color: #0069ff;
}
